*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
figure,
blockquote,
dl,
dd {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  display: flex;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-x: hidden;
}

#__next {
  width: 100%;
}

ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  height: auto;
  max-width: 100%;
  display: block;
}

svg {
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  border-radius: 0;
}

a:focus,
input:focus,
button:focus,
textarea:focus,
select:focus {
  outline: none;
}

img:not([alt]) {
  filter: blur(10px);
}
